/*
 * Filter form (based on proplist and form-table)
 */
#filter input, #filter select,
#build-count, #build-count #count
{
  width: 100%;
  margin:0;
}

#filter-btn {padding-left: .4em;}

/*
 * Build count.
 */
#count
{
  font-size: 1.32em;
  line-height: 1.4em;
  color: #555;

  margin: 1.2em 0 0 0;
}

/*
 * Build table.
 */
.build, #filter
{
  margin-top: .8em;
  margin-bottom: .8em;

  padding-top: .4em;
  padding-bottom: .4em;
}
.build:nth-child(even) {background-color: rgba(0, 0, 0, 0.07);}

.build th, #filter th
{
  width: 7.0em;
}

.build tr.name td .value,
.build tr.version td .value,
.build tr.toolchain td .value,
.build tr.config td .value,
.build tr.machine td .value,
.build tr.target td .value,
.build tr.timestamp td .value,
.build tr.result td .value
{
  /* <code> style. */
  font-family: monospace;
  font-size: 0.94em;
}

.build .success  {color: #00bb00;}
.build .warning  {color: #ffa500;}
.build .error    {color: #ff0000;}
.build .abort    {color: #ff0000;}
.build .abnormal {color: #ff0000;}
