#heading
{ 
  display: table;
  table-layout: fixed;
  width: 100%;
  border: none;
}

/* Since it is a link to itself, it will always be visited. */
#heading a:visited {color: #006fbf;}
#heading a:hover, h1 a:active {color: #0087e7; text-decoration: none;}

h1
{
  font-family: monospace;  
  font-weight: normal;
  font-size: 2.074em;
  line-height: 1.4em;

  margin: .6em 0 .6em 0;

  display: table-cell;
  text-align: left; 
}

#heading > a 
{
  font-size: 1.32em;
  line-height: 1.4em;

  display: table-cell;   
  text-align: right;
  width: 3.2em;
  vertical-align: middle;
}

h2
{
  font-style: italic;
  font-weight: normal;
  font-size: 1.32em;
  line-height: 1.4em;

  margin: .4em 0 .4em 0;
}

h1, h2
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Re-styling for full page variant. */

.full h2
{
  white-space: normal;
}

/* 
 * Package details table.
 */
#package 
{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
#package th {width: 6.4em;}

/*
 * Search form (based on form-table)
 */
#search-txt, #search-txt input {width: 100%;}
#search-btn {padding-left: .4em;}

/*
 * Version count.
 */
#count
{
  font-size: 1.32em;
  line-height: 1.4em;
  color: #555;

  margin: 1.2em 0 0 0;
}

/* 
 * Version table. 
 */
table.version
{
  margin-top: .8em;
  margin-bottom: .8em;

  padding-top: .4em;
  padding-bottom: .4em;

}
table.version:nth-child(even) {background-color: rgba(0, 0, 0, 0.07);}

table.version th {width: 6.4em;}

table.version tr.version td .value,
table.version tr.priority td .value,
table.version tr.location td .value,
table.version tr.depends td .value,
table.version tr.requires td .value
{
  /* <code> style. */
  font-family: monospace;
  font-size: 0.94em;
}
