/*
 * Search form (based on form-table)
 */
#search-txt, #search-txt input {width: 100%;}
#search-btn {padding-left: .4em;}

/*
 * Package count.
 */
#count
{
  font-size: 1.32em;
  line-height: 1.4em;
  color: #555;

  margin: 1.2em 0 0 0;
}

/* 
 * Version table. 
 */
.package
{
  margin-top: .8em;
  margin-bottom: .8em;

  padding-top: .4em;
  padding-bottom: .4em;
}
.package:nth-child(even) {background-color: rgba(0, 0, 0, 0.07);}

.package th {width: 6.4em;}

.package tr.name td .value,
.package tr.depends td .value,
.package tr.requires td .value
{
  /* <code> style. */
  font-family: monospace;
  font-size: 0.94em;
}
