#heading
{
  display: table;
  table-layout: fixed;
  width: 100%;
  border: none;
}

/* Since it is a link to itself, it will always be visited. */
#heading a:visited {color: #006fbf;}
#heading a:hover, h1 a:active {color: #0087e7; text-decoration: none;}

h1
{
  font-family: monospace;
  font-weight: normal;
  font-size: 2.074em;
  line-height: 1.4em;
  color: #444;

  margin: .6em 0 .6em 0;

  display: table-cell;
  text-align: left;
}

#heading > a
{
  font-size: 1.32em;
  line-height: 1.4em;

  display: table-cell;
  text-align: right;
  width: 3.2em;
  vertical-align: middle;
}

h1 a:first-child {margin-right: .14em;}
h1 a:last-child {margin-left: .14em;}

h2
{
  font-style: italic;
  font-weight: normal;
  font-size: 1.32em;
  line-height: 1.4em;

  margin: .4em 0 .4em 0;
}

h3
{
  font-family: monospace;
  font-weight: normal;
  font-size: 1.26em;
  line-height: 1.4em;

  margin: 1.8em 0 0 0;
}

h1, h2, h3
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Re-styling for full page variant. */

.full h2
{
  white-space: normal;
}

/*
 * Description (plain text).
 *
 * This is a <pre> block that fits lines up to 80 characters long and
 * wraps longer ones.
 */
#description.plain pre
{
  font-size: 0.85em;
}

/*
 * Description (Markdown).
 *
 * These are descendants of the <div> block containing the result of
 * Markdown-to-HTML translation.
 *
 * Note that the Markdown code blocks are translated into the
 * <pre><code>...<code/></pre> element construct.
 */
#description.markdown h1,
#description.markdown h2
{
  white-space: normal;
}

/* code-box.css */
#description.markdown :not(pre) > code
{
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.2em;
  padding: .2em .32em .18em .32em;
}

/* pre-box.css */
#description.markdown pre
{
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.2em;
  padding: .8em .4em .8em .4em;
  margin: 2em -.4em 2em -.4em; /* Use paddings of #content. */
}

#description.markdown pre > code
{
  font-size: inherit;
}

#description.markdown .error {color: #ff0000;}

/*
 * Version details table.
 */
#version
{
  margin-top: 1.1em;
  margin-bottom: 1em;

  padding-top: .4em;
  padding-bottom: .4em;

  background-color: rgba(0, 0, 0, 0.07);  /* Emphasize. */

  /*
  background: #eee;
  border-radius: 6px;
  border: 1px outset rgba(230,230,230,.24);
  */
}
#version th {width: 9.5em;}

#version tr.version td .value,
#version tr.priority td .value,
{
  /* <code> style. */
  font-family: monospace;
  font-size: 0.94em;
}

#version tr.priority td .security {color: #ff0000; font-weight: bold;}
#version tr.priority td .high     {color: #ff0000;}
#version tr.priority td .medium   {color: #fe7c04;}

#version tr.sha256 td .value
{
  /* Increase the chances of 64-char value not to be truncated. */
  font-size: 0.85em;
}

/*
 * Package details table.
 */
#package
{
  margin-top: 1.2em;
  margin-bottom: 1em;
}
#package th {width: 9.5em;}

#package tr.topics td a,
#package tr.project td a
{
  display: inline-block;

  background-color: #f1f8ff;
  border-radius: 0.2em;
  padding: 0 .5em .06em .5em;
  margin: 0 0.35em 0.1em 0;
}

#package tr.topics td a:visited,
#package tr.project td a:visited
{
  color: #3870c0;
}

#package tr.topics td a:hover,
#package tr.project td a:hover
{
  text-decoration: none;
  background-color: #def;
}

#package tr.topics td,
#package tr.project td
{
  padding: 0;
  margin: 0 0 0 -0.5em;
}

/*
 * Dependencies and requirements tables.
 */
#depends {margin-top: .4em; margin-bottom: 1em;}
#depends th {width: 2.8em; text-align: center;}
#depends th:after{content: "";}

/* Striping. For some reason (related to flexbox), this works exactly as
   we want, that is, the background extends all the way to the browser's
   right frame. */
#depends tr:nth-child(even) td {background-color: rgba(0, 0, 0, 0.07);}
#depends td {padding-left: .4em;}
#depends td .comment {padding-right: .4em;}

/*
#depends td .value {padding-left: .4em;}
#depends td .comment {padding-right: .4em;}
*/

#depends tr.depends td .value
{
  /* <code> style. */
  font-family: monospace;
  font-size: 0.94em;
}

#requires {margin-top: .4em; margin-bottom: 1em;}
#requires th {width: 2.8em; text-align: center;}
#requires th:after{content: "";}

#requires tr:nth-child(even) td {background-color: rgba(0, 0, 0, 0.07);}
#requires td {padding-left: .4em;}
#requires td .comment {padding-right: .4em;}

#requires tr.requires td .value
{
  /* <code> style. */
  font-family: monospace;
  font-size: 0.94em;
}

/*
 * Tests, examples, and benchmarks tables.
 */
#tests {margin-top: .4em; margin-bottom: 1em;}
#tests th {width: 2.8em; text-align: center;}
#tests th:after{content: "";}

#tests tr:nth-child(even) td {background-color: rgba(0, 0, 0, 0.07);}
#tests td {padding-left: .4em;}

#tests tr.tests td .value
{
  /* <code> style. */
  font-family: monospace;
  font-size: 0.94em;
}

#examples {margin-top: .4em; margin-bottom: 1em;}
#examples th {width: 2.8em; text-align: center;}
#examples th:after{content: "";}

#examples tr:nth-child(even) td {background-color: rgba(0, 0, 0, 0.07);}
#examples td {padding-left: .4em;}

#examples tr.examples td .value
{
  /* <code> style. */
  font-family: monospace;
  font-size: 0.94em;
}

#benchmarks {margin-top: .4em; margin-bottom: 1em;}
#benchmarks th {width: 2.8em; text-align: center;}
#benchmarks th:after{content: "";}

#benchmarks tr:nth-child(even) td {background-color: rgba(0, 0, 0, 0.07);}
#benchmarks td {padding-left: .4em;}

#benchmarks tr.benchmarks td .value
{
  /* <code> style. */
  font-family: monospace;
  font-size: 0.94em;
}

/*
 * Binaries.
 */
#binaries
{
  width: calc(100% + .8rem);
  margin-left: -.4rem;
  border: none;
  border-spacing: 0 0;

  margin-top: .4em;
  margin-bottom: 1em;
  border-collapse: collapse;
}

#binaries tr:nth-child(even) td {background-color: rgba(0, 0, 0, 0.07);}

#binaries td
{
  padding: .08em .4rem;
}

#binaries td:last-child {width: 100%;}

#binaries td .value
{
  display: inline-block;
  white-space: nowrap;

  /* <code> style. */
  font-family: monospace;
  font-size: 0.94em;
}

/* Re-styling for full page variant. */

.full #binaries td
{
  vertical-align: top;
}

.full #binaries td .value
{
  margin-right: 1em;

  white-space: normal;
}

/*
 * Builds.
 */
#builds {margin-bottom: 1em;}

.build
{
  margin-top: .4em;
  margin-bottom: .4em;

  padding-top: .4em;
  padding-bottom: .4em;
}
.build:nth-child(even) {background-color: rgba(0, 0, 0, 0.07);}

.build th
{
  width: 7.4em;
}

.build tr.toolchain td .value,
.build tr.target td .value,
.build tr.tgt-config td .value,
.build tr.pkg-config td .value,
.build tr.timestamp td .value,
.build tr.login td .value,
.build tr.result td .value
{
  /* <code> style. */
  font-family: monospace;
  font-size: 0.94em;
}

.build .pending  {color: #d1943c;}
.build .building {color: #d1943c;}
.build .success  {color: #00bb00;}
.build .warning  {color: #fe7c04;}
.build .error    {color: #ff0000;}
.build .abort    {color: #ff0000;}
.build .abnormal {color: #ff0000;}

/*
 * Changes (plain text).
 *
 * This is a <pre> block that fits lines up to 80 characters long and
 * wraps longer ones.
 */
#changes.plain pre
{
  font-size: 0.85em;
}

/*
 * Changes (Markdown).
 *
 * These are descendants of the <div> block containing the result of
 * Markdown-to-HTML translation.
 *
 * Note that the Markdown code blocks are translated into the
 * <pre><code>...<code/></pre> element construct.
 */
#changes.markdown h1,
#changes.markdown h2
{
  white-space: normal;
}

/* code-box.css */
#changes.markdown :not(pre) > code
{
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.2em;
  padding: .2em .32em .18em .32em;
}

/* pre-box.css */
#changes.markdown pre
{
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.2em;
  padding: .8em .4em .8em .4em;
  margin: 2em -.4em 2em -.4em; /* Use paddings of #content. */
}

#changes.markdown pre > code
{
  font-size: inherit;
}

#changes.markdown .error {color: #ff0000;}
