/*
 * Package archive submission form (based on proplist and form-table)
 */
#submit
{
  margin-top: .8em;
  margin-bottom: .8em;

  padding-top: .4em;
  padding-bottom: .4em;
}

#submit th
{
  width: 6.8em;
}

#submit input, #submit-padding
{
  width: 100%;
  margin:0;
}
