[Unit]
Description=brep build database cleaner service

[Service]
Type=oneshot
#User=brep
#Group=brep

# Run both tenants and builds cleaners if CI request functionality is enabled.
#
#ExecStart=/home/brep/install/bin/brep-clean tenants 240
ExecStart=/home/brep/install/bin/brep-clean builds /home/brep/config/buildtab

[Install]
WantedBy=default.target
