[Unit]
Description=brep repository loader service

[Service]
Type=oneshot
#User=brep
#Group=brep
ExecStart=/home/brep/install/bin/brep-load /home/brep/config/brep-load.conf

[Install]
WantedBy=default.target
