[Unit]
Description=brep build database and artifacts cleaner service

[Service]
Type=oneshot
#User=brep
#Group=brep

# Run both tenants and builds cleaners if CI request functionality is enabled.
# Also run outdated build artifacts cleaners if build artifacts upload
# functionality is enabled.
#
#ExecStart=/home/brep/install/bin/brep-clean tenants 240
ExecStart=/home/brep/install/bin/brep-clean builds /home/brep/config/buildtab
#ExecStart=/home/brep/install/bin/brep-upload-bindist-clean /var/bindist 2880

[Install]
WantedBy=default.target
